//
@use 'bootstrap';

/* admin */

@import 'common/variables';
@import 'partials/admin/admin';
@import 'partials/admin/dashboard';
@import 'partials/merchandise';
@import 'partials/siteheader';
@import 'partials/sitefooter';
@import 'partials/comic';
@import 'partials/movie';
body {
    font-family: $dc-font-family;
}

#comics_wrapper,
#movies_wrapper {
    background-color: $dc-dark;
    width: 100vw;
    .jumbotron {
        background-image: url('../img/jumbotron.jpg');
        height: 400px;
        width: 100vw;
        background-size: cover;
    }
}

#comic {
    width: 100vw;
    #jumbo_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        #jumbotron {
            background-image: url('../img/jumbotron.jpg');
            height: 400px;
            width: 100vw;
            background-size: cover;
        }
        .banner {
            height: 100px;
            width: 100vw;
            background-color: $dc-blue;
        }
        .container {
            position: absolute;
            height: 500px;
            #poster_wrap {
                position: relative;
                height: 500px;
                width: 100%;
                .poster {
                    position: absolute;
                    bottom: 3%;
                    left: 3%;
                }
            }
        }
    }
    #comic_info {
        margin-top: 40px;
        width: 100vw;
        height: 500px;
        background-color: $dc-white;
        #title {
            color: $dc-blue-dark;
        }
        #info {
            height: 60px;
            width: 100%;
            display: flex;
            background-color: $dc-green;
            color: $dc-white;
            #price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 30px;
                width: 70%;
                .status {
                    opacity: .5;
                }
            }
            #availability {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30%;
                border-left: 1px solid black;
                i {
                    padding-left: 15px;
                }
            }
        }
        #description {
            margin: 15px;
        }
    }
}

#movie {
    width: 100vw;
    #jumbo_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        #jumbotron {
            background-image: url('../img/jumbotron.jpg');
            height: 400px;
            width: 100vw;
            background-size: cover;
        }
        .banner {
            height: 100px;
            width: 100vw;
            background-color: $dc-blue;
        }
        .container {
            position: absolute;
            height: 500px;
            #poster_wrap {
                position: relative;
                height: 500px;
                width: 100%;
                .poster {
                    position: absolute;
                    bottom: 3%;
                    left: 3%;
                    img {
                        height: 250px;
                        width: auto;
                    }
                }
            }
        }
    }
    #movie_info {
        margin-top: 40px;
        width: 100vw;
        height: 500px;
        background-color: $dc-white;
        #title {
            color: $dc-blue-dark;
        }
        #description {
            margin: 15px;
            margin-left: 0;
        }
    }
}

#comic.admin {
    .poster {
        position: relative;
        .cross {
            position: absolute;
            top: 0;
            right: 0;
            height: 50px;
            width: 50px;
            i {
                font-size: 50px;
                color: $dc-blue;
            }
            border-radius: 25px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.card.vision {
    #actions {
        i {
            color: $dc-grey;
            &:first-child:hover {
                color: $dc-blue;
            }
            &:hover {
                color: $dc-green;
            }
            &:last-child:hover {
                color: red;
            }
        }
    }
}