$dc-blue: #0282F9;
$dc-blue-dark: #003F5E;
$dc-green:#55BA59;
$dc-dark: #1C1C1C;
$dc-grey-dark: #303030;
$dc-grey: #404040;
$dc-light-grey: #d6cfb7;
$dc-white: #ffffff;
$dc-font-family:'Open Sans Condensed',
sans-serif;
.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}