body.admin {
    max-width: 100vw;
    display: flex;
    min-height: 100vh;
    #site_admin_header {
        width: 15%;
        background-color: $dc-grey-dark;
        aside {
            ul {
                li {
                    a {
                        &:hover {
                            color: $dc-white;
                        }
                    }
                }
            }
        }
    }
    #site_main {
        .container {
            height: 100%;
            #pagination {
                margin-top: 20px;
            }
        }
        width: 85%;
        background-color: $dc-grey;
        #show_admin {
            .container {
                background-color: $dc-grey;
                height: 100vh;
                width: 100%;
                .title {
                    width: 70%;
                    margin: auto;
                    text-align: center;
                }
                .description {
                    .desc {
                        width: 70%;
                    }
                }
            }
        }
        #create_admin {
            .container {
                background-color: $dc-grey;
                height: 100vh;
                width: 100vw;
                .form {
                    width: 90%;
                    height: 90%;
                    background-color: violet;
                }
            }
        }
        #edit_admin,
        #create_admin {
            .container {
                color: $dc-blue;
            }
        }
    }
}